<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'style3.css' %}">
<link rel="stylesheet" href="{% static 'script.js' %}">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#111111" />
    <title>reDK</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
    />
    <link rel="stylesheet" href="{% static 'style3.css' %}" />
    <script src="{% static 'script.js' %}"></script>
  </head>
  <body>
    <div class="site-container">
      <header class="header">
        <div class="container header__container">
          <a class="logo header__logo" href="login-page">reDK</a>
        </div>
      </header>
      <main class="main">
        <div class="infodiv">
            <div class="container__info">
                <a class="infoTitle">Ознакомительная информация</a>
                <p>
                  Здравствуйте, вы попали на сайт организации "reDK". Наша цель -
                  сделать жизнь людей проще и комфортнее путём создания новых полезных
                  технологий. Этот сайт был создан с целью упростить торговые
                  взаимоотношения для многих людей. Мы предлагаем очень удобный
                  интерфейс с мягкими цветами. У нас имеется огромное количество складов
                  для хранения товаров для поставщиков, и простой понятный интерфейс для
                  пользователей. Каждый сможет найти здесь нужный товар, поскольку
                  поставщики сами могут вводить свои товары на платформу (при условии,
                  что они прошли все необходимые проверки).
                </p>
                <p>
                  Подробнее о "reDK": "reDK" - это аббревиатура, расшифровывающаяся как
                  "Revived Data Kit", что по-русски означает "возрождённый набор
                  данных". Сейчас вы поймёте, почему было выбрано именно такое название.
                  В современном мире каждый человек потребляет много информации (для нас
                  данные и информация являются синонимами), из-за чего нашему организму
                  бывает крайне сложно всё это обработать и отличить полезную информацию
                  от бесполезной или даже вредной. Поэтому наша команда решила создавать
                  свои продукты. Наша основная цель - прекратить потребление лишней
                  информации нашими пользователями, поэтому дизайн нашего продукта
                  выполнен в стиле минимализма. На сайте отсутствует реклама, чтобы
                  ничто не могло сбить пользователя с мысли, и все поставщики должны
                  максимально подробно описывать товары, чтобы покупатель понимал, с чем
                  он имеет дело. Мы выбрали фиолетовый цвет, поскольку он считается
                  духовным цветом и, согласно известным данным, благоприятно влияет на
                  сознание человека, проясняя его разум. Фиолетовый цвет помогает в
                  самопознании, приносит вдохновение и разум, а также помогает отсеивать
                  бесполезную информацию. Белый цвет мы выбрали потому, что он
                  умиротворяет и успокаивает сознание человека. Он способен отвлечь
                  человека от насущных проблем. Такое сочетание цветов помогает людям
                  мыслить креативнее, отсеивать ненужное и также быть спокойнее. Мы
                  также стремимся создать максимально дружелюбную атмосферу на всех
                  наших продуктах. Мы действительно ценим каждого нашего пользователя,
                  потому что каждый человек достоин хорошего отношения, пока он не
                  докажет обратное.
                </p>
                <p>
                  Мы также активно работаем над постоянным улучшением наших услуг и
                  функционала платформы. Наша команда постоянно анализирует обратную
                  связь от пользователей и поставщиков, чтобы учесть их потребности и
                  предложения. Мы стремимся к тому, чтобы каждый опыт использования
                  нашей платформы был максимально удобным и приятным. Благодаря этому
                  подходу мы не только предоставляем инновационные технологии, но и
                  создаём сообщество, где каждый чувствует себя важным и услышанным.
                </p>
                <a class="infoTitle">Техническая информация</a>
                <p>
                  Просим Вас прочитать всю информацию на странице. Если вы уже
                  зарегистрированы, введите в специальном окне свою электронную почту.
                  Если вы забыли ее или еще не зарегистрированы, введите в этом месте
                  email, который вы хотели бы использовать в будущем. Нажмите на кнопку
                  “вход”. Вы будете перенаправлены на другую страницу. Там введите логин
                  и пароль, которые вы хотите использовать. Если вы хотите быть
                  продавцом, нажмите на соответствующую кнопку. У вас появится кнопка
                  “Склады”, нажмите на нее. Вы можете выбрать склады, которые будут
                  использованы под ваш товар. Если вы не выбрали никакой склад, даже
                  если нажали на кнопку “поставщик”, вы будете занесены в базу данных в
                  качестве покупателя.
                </p>
                <p>
                  ВАЖНО. Если вы решили зарегистрироваться на этом сайте, Ваш IP адрес
                  будет сохранен. Он используется как дополнительный личный
                  идентификатор. Он хранится ТОЛЬКО в оперативной памяти. Это сделано в
                  целях обеспечения большей безопасности. Если злоумышленник решит
                  получить доступ к диску сервера, он не узнает ваш IP. В случае
                  подозрений на взлом сайта, он будет перезагружен и все IP адреса будут
                  стерты. Это не приведет к потере вашего личного кабинета, Вам просто
                  придется заново войти в аккаунт. Если Вы нажимаете на кнопку “войти”
                  или “зарегистрироваться”, то автоматически соглашаетесь с обработкой
                  ваших персональных данных.
                </p>
                <a class="infoTitle">Сотрудники</a>
                <p>
                  Наши сотрудники - это сердце и душа нашей компании. Мы гордимся своей
                  высококвалифицированной командой профессионалов, которые преданы общей
                  цели улучшения жизни людей. Мы ценим творческий подход каждого
                  сотрудника и поощряем инициативу. Вместе мы создаём дружественную и
                  вдохновляющую рабочую атмосферу, где каждый может раскрыть свой
                  потенциал и внести вклад в достижение наших целей. Мы убеждены, что
                  совместные усилия и коллективный дух делают нашу команду непобедимой в
                  достижении успеха и инноваций.
                </p>
                <a class="infoTitle">Инновации</a>
                <p>
                  В организации "reDK" мы постоянно стремимся к инновациям, исследуя
                  новые технологии и методы, которые могут улучшить жизнь людей. Мы
                  инвестируем в исследования и разработки, чтобы создавать продукты,
                  способные революционизировать рынок и изменить отношение к обработке и
                  использованию данных.
                </p>
                <p>
                  Наша философия основана на том, что инновации должны быть не только
                  передовыми, но и доступными для всех. Мы уделяем особое внимание
                  удобству использования наших продуктов и сервисов, делая их доступными
                  и интуитивно понятными для широкого круга пользователей.
                </p>
                <p>
                  Мы также активно ищем партнёров и сотрудников, готовых вместе с нами
                  исследовать и внедрять новаторские идеи. Наша цель - не только создать
                  новые продукты, но и изменить мир к лучшему, предоставляя инструменты
                  и решения, способные улучшить качество жизни и повысить эффективность
                  бизнеса.
                </p>
                <p>
                  Вместе мы строим будущее, в котором данные станут не просто
                  информацией, а инструментом для достижения целей и преобразования мира
                  к лучшему.
                </p>
            </div>
        </div>
      </main>
    </div>
  </body>
</html>
