{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'style.js' %}">
<!DOCTYPE html>
<form action = '/order-page' method="post">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#111111" />
    <title>reDK</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script src="{% static 'style.js' %}"></script>
  </head>
  <body>
    <div class="site-container">
      <header class="header">
        <div class="container header__container">
          <a class="logo header__logo">reDK</a>
          <div class="filters">
            <span id="productFiltersToggle" class="productFilters">
              <a class="productFiltersTitle">Фильтры</a>
              <img class="productFiltersImg" src="{% static 'pngwing.png'%}" />
            </span>
            <div class="сategoryfilter">
              <ul>
                <li>
                  <label><input type="checkbox" />Категория 1</label>
                </li>
              </ul>
            </div>
          </div>
          <input
            type="text"
            class="searchBar"
            id="searchBar"
            placeholder="Найти на reDK"
          />
        </div>
      </header>
      <main class="main">
        <div class="products-content grid-container">
          <ul class="products-grid">
            <li class="products-grid__item">
              <article class="product">
                <h3 class="product__title">
                  <a class="title">Шкаф</a>
                </h3>
                <a class="product__image">
                  <div class="image-switch__img">
                    <img alt="фото" />
                  </div>
                </a>
                <div class="product__info">
                  <a class="product__term">Размеры: </a>
                  <a class="product__volume">90x100x50</a>
                </div>
                <div class="product__info">
                  <a class="product__term">Масса: </a>
                  <a class="product__weight">5кг</a>
                </div>
                <div class="product__price product-price">
                  <span class="product-price">1 600 ₽</span>
                </div>
                {% csrf_token %}
                <button class="product__btn btn">Заказать</button>
              </article>
            </li>
            <li class="products-grid__item">
                <article class="product">
                  <h3 class="product__title"> 
                    <a class="title">Стул</a>
                  </h3>
                  <a class="product__image">
                    <div class="image-switch__img">
                      <img alt="фото" />
                    </div>
                  </a>
                  <div class="product__info">
                    <a class="product__term">Размеры: </a>
                    <a class="product__volume">90x100x50</a>
                  </div>
                  <div class="product__info">
                    <a class="product__term">Масса: </a>
                    <a class="product__weight">5кг</a>
                  </div>
                  <div class="product__price product-price">
                    <span class="product-price">1 600 ₽</span>
                  </div>
                  {% csrf_token %}
                  <button class="product__btn btn">Заказать</button>
                </article>
              </li>
          </ul>
        </div>
      </main>
    </div>

  </body>
</html>
</form>