.regModal-window__info {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.regModal-window__userSide {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  margin: 0 171px 0 171px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.underline {
  position: absolute;
  left: 0;
  height: 2px;
  background-color: #000;
  width: 0;
  transition: width 0.3s ease;
}

.regModal-window__userSideLabel,
.regModal-window__manufacturerSideLabel {
  cursor: pointer;
}

.nav__input {
  display: flex;
  margin-left: 80px;
}

.nav__inputManufacturerStock {
  display: flex;
  margin-top: 15px;
  visibility: hidden;
}

.nameListOfStocks {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.modal-window__nav {
  margin-top: 30px;
}

.nav__modal-windowInpuTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-left: 110px;
}

.inputEmail {
  display: flex;
  margin: 25px 0 0 15px;
}

.nav__userErrorEntryModal {
  visibility: hidden;
  color: #fc0000;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-right: 10px;
}

.nav__userErrorModal {
  visibility: hidden;
  color: #fc0000;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 600;
  margin-right: 10px;
}

.nav__modal-windowInput {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin: 15px 0 10px 0;
  padding-left: 45px;
  width: 530px;
  height: 90px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  outline: none;
  border-radius: 15px;
  background-color: #fafafa;
}
.regModal-window {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
  visibility: visible;
  opacity: 1;
  --transition-time: 0.3s;
  transition: opacity var(--transition-time) ease-in-out;
  &.is-open {
    visibility: visible;
    opacity: 1;
  }
}

.regModal-window__container {
  position: relative;
  background-color: #ffffff;
  border: 2px solid rgba(205, 205, 205, 0.5);
  left: 560px;
  top: 90px;
  width: 800px;
  height: 700px;
  border-radius: 45px;
  transform: scale(0.8);
  transition: transform var(--transition-time) ease-in-out;
  &.is-open {
    transform: scale(1);
  }
}

.entryModal-window {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  --transition-time: 0.3s;
  transition: opacity var(--transition-time) ease-in-out;
  &.is-open {
    visibility: visible;
    opacity: 1;
  }
}

.entryModal-window__container {
  position: absolute;
  background-color: #ffffff;
  border: 2px solid rgba(205, 205, 205, 0.5);
  top: 105px;
  right: 15px;
  width: 400px;
  height: 225px;
  border-radius: 45px;
  transform: scale(0.8);
  transition: transform var(--transition-time) ease-in-out;
  &.is-open {
    transform: scale(1);
  }
}

.entryModal-window__info {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.userMailInput {
  width: 290px;
  height: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 10px;
  padding-left: 25px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  outline: none;
  border-radius: 15px;
  background-color: #fafafa;
}

.entryButton {
  position: absolute;
  left: 55px;
  bottom: 30px;
  background-color: #fc74ff;
  border: none;
  border-radius: 15px;
  width: 290px;
  height: 45px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: #b86fba;
    transition: background-color 0.3 ease-in-out;
  }
}

.loginModal-window {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
  visibility: visible;
  opacity: 1;
  --transition-time: 0.3s;
  transition: opacity var(--transition-time) ease-in-out;
  &.is-open {
    visibility: visible;
    opacity: 1;
  }
}

.loginModal-window__container {
  position: relative;
  background-color: #ffffff;
  border: 2px solid rgba(205, 205, 205, 0.5);
  left: 560px;
  top: 90px;
  width: 800px;
  height: 535px;
  border-radius: 45px;
  transform: scale(0.8);
  transition: transform var(--transition-time) ease-in-out;
  &.is-open {
    transform: scale(1);
  }
}

.loginModal-window__info {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 55px 0 30px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.inputPasswordTitle {
  margin-left: 110px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.inputLoginPassword {
  display: flex;
  flex-direction: column;
}

.userLoginPasswordInput {
  width: 535px;
  height: 90px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin: 30px 0px 20px 110px;
  padding-left: 45px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  outline: none;
  border-radius: 15px;
  background-color: #fafafa;
}

.nav__userErrorLoginModal {
  margin-left: 110px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #fc0000;
  display: none;
}

.loginButton {
  position: absolute;
  background-color: #fc74ff;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  width: 580px;
  height: 90px;
  bottom: 60px;
  left: 110px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  &:hover {
    background-color: #b86fba;
    transition: background-color 0.3 ease-in-out;
  }
}

.modal-window__btn {
  position: absolute;
  background-color: #fc74ff;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  width: 580px;
  height: 90px;
  bottom: 50px;
  margin-left: 110px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  &:hover {
    background-color: #b86fba;
    transition: background-color 0.3 ease-in-out;
  }
}

.nav__manufacturerErrorModal {
  visibility: hidden;
  color: #fc0000;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-right: 10px;
}

.manufacturerStockSelector ul {
  z-index: 1000;
  margin-top: 5px;
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.manufacturerStockSelector ul li {
  padding: 8px 12px;
  cursor: pointer;
}

.manufacturerStockSelector ul li:hover {
  background-color: #f0f0f0;
}

.header {
  width: 100%;
  height: 115px;
  background: rgb(248, 116, 251);
  background: linear-gradient(
    90deg,
    rgba(248, 116, 251, 1) 0%,
    rgba(195, 67, 255, 1) 100%
  );
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
}

.header__logo {
  color: #ffffff;
  font-size: 64px;
  font-family: "Pacifico", sans-serif;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.productFiltersTitle {
  font-family: "Pacifico", sans-serif;
  font-size: 32px;
  color: #ffffff;
}

.productFilters {
  margin-left: 130px;
}

.searchBar {
  margin-left: 85px;
  width: 950px;
  height: 80px;
  background-color: #fafafa;
  border-radius: 25px;
  padding-left: 30px;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.filterCategory {
  display: none;
}

.productFiltersImg {
  position: relative;
  top: 7px;
  margin-left: 2.5px;
  width: 35px;
  height: 35px;
}

.loginSpanImg {
  width: 30px;
  height: 30px;
  margin-left: 45px;
}

.loginSpanTitle {
  font-family: "Pacifico", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.loginSpan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 100px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
}

.products-grid__item {
  list-style: none;
}

.products-grid {
  padding: 0px 10px 0px 0;
  display: flex;
  flex-wrap: wrap;
}

.product {
  display: block;
  border: 2px solid #dcdcdc;
  margin-left: 25px;
  border-radius: 25px;
  padding: 20px;
  padding-top: 9px;
  font-size: 14px;
  background-color: #fff;
}

.product.hide {
  display: none;
}

.product__btn {
  background-color: #fc74ff;
  border: none;
  color: #ffffff;
  width: 100%;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: #b86fba;
    transition: background-color 0.3s ease-in-out;
  }
}

.product__image {
  position: relative;
  overflow: hidden;
  display: block;
  margin-left: 25px;
  height: 160px;
  width: 160px;
}

.product__title {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin: 10px;
}

.product__term {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.product__volume {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.product__weight {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.product__info {
  margin-bottom: 5px;
}

.product-price {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.сategoryfilter {
  margin-left: 125px;
}

.сategoryfilter ul {
  z-index: 1000;
  margin-top: 5px;
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.сategoryfilter ul li {
  padding: 8px 12px;
  cursor: pointer;
}

.сategoryfilter ul li:hover {
  background-color: #f0f0f0;
}

.filters {
  display: flex;
  flex-direction: column;
}

.productFiltersImg.open::after {
  transform: translateY(-50%) rotate(180deg);
}

.order-window__container {
  position: relative;
  margin-top: 100px;
  left: 28%;
  border-radius: 15px;
  background-color: #ffffff;
  width: 900px;
  height: 600px;
  border: 2px solid rgba(205, 205, 205, 0.5);
}

.orderInfo {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.orderProductInfo {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-left: 50px;
}

.order-content__item {
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 800px;
  height: 150px;
  border: 2px solid rgba(205, 205, 205, 0.5);
  border-radius: 15px;
}

li {
  list-style-type: none;
}
.order-product {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-top: 5px;
  width: 100%;
  height: 100%;
}

.order-product__img {
  width: 150px;
  height: 150px;
}

.order-product__text {
  display: flex;
  flex-direction: column;
}

.order-product__title {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.order-product__decription {
  position: relative;
  margin-left: 50px;
  width: 300px;
  height: 150px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.chooseDelivery {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.chooseDelivery__title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.deliveryTypes ul {
  z-index: 1000;
  margin-top: 5px;
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.deliveryTypes ul li {
  padding: 8px 12px;
  cursor: pointer;
}

.deliveryTypes ul li:hover {
  background-color: #f0f0f0;
}

.DeliveryInfo {
  display: flex;
}

.order-price {
  margin-left: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.confirmDelivery {
  position: absolute;
  background-color: #fc74ff;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  width: 580px;
  height: 80px;
  bottom: 25px;
  margin-left: 160px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  &:hover {
    background-color: #b86fba;
    transition: background-color 0.3 ease-in-out;
  }
}

.chooseDeliveryImg {
  width: 18px;
  height: 18px;
  margin-left: 5px;
  rotate: 90deg;
}

.chooseDeliveryImg.open {
  transform: rotate(180deg);
}

.calculatePrice{
  position: relative;
  background-color: #fc74ff;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 290px;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  &:hover {
    background-color: #b86fba;
    transition: background-color 0.3 ease-in-out;
  }
}

.path-title {
  margin-left: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

.characteristic{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}